.env
.env.bak.vessel
/.idea
/.vagrant
/.vscode
/node_modules
/public/hot
/public/storage
/storage/*.index
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
ngrok
npm-debug.log
yarn-error.log
.phpunit.result.cache

.DS_Store
